:root {
    --primary-color: yellow;
    --secondary-color: darkgreen;
    --border-color: lightgreen;
    --link-color: orange;
    --link-color-hover: yellow;
    --background-color: darkgreen;
    /* --text-color: #333;
    --header-color: #333;
    --nav-color: #333;
    --footer-color: #333;
    --button-color: #333;
    --button-hover-color: #555;
    --button-background: #f4f4f4;
    --button-hover-background: #ccc;
    --form-input-background: #f4f4f4;
    --form-input-color: #333;
    --form-input-border: #ccc;
    --form-input-focus: #555; */
}
/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ShantellSans';
    src: url('/assets/fonts/ShantellSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Body styles */
body {
    font-family: 'ShantellSans', sans-serif;
    margin: 0;
    background-color: var(--background-color); /* Dark green */
    color: var(--primary-color); 
    line-height: 1.6;
}

html, body {
    height: 100%;
}

/* Wrapper for flex layout */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* Main content area */
main {
    flex: 1;
}

/* Header styling */
header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    text-align: center;
    position: relative; /* Ensure header does not interfere with sticky nav */
}

/* Page title styling */

.page-title {
    text-align: left;
    margin: 20px 0;
}

.page-title a {
    color: var(--primary-color);
    text-decoration: none;
}

.page-title a:hover {
    color: var(--primary-color);
}

.page-title a:visited {
    color: var(--primary-color);
}

.page-title a:active {
    color: var(--primary-color);
}

/* Navigation styling */
nav {
    background-color: var(--primary-color);
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top */
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    row-gap: 20px;
}

nav ul li {
    position: relative; /* Needed for positioning the child ul */
    border-width: 1px;
    border-color: var(--primary-color);
    border-style: solid;
}

nav ul li ul {
    display: none; /* Hide children by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 200px; /* Adjust the width as needed */
}

nav ul li:hover ul {
    display: block; /* Show children on hover */
}

nav ul li ul li {
    width: 100%;
    border: none;
}

nav ul li ul li a {
    padding: 8px 12px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    white-space: nowrap; /* Prevent text from wrapping */
}

nav ul li ul li a:hover {
    background-color: var(--primary-color);
    color: darkred;
}

nav ul li {
    /* margin: 5px;
    border-radius: 5px; */
    position: relative; /* Needed for positioning the child ul */
    border-width: 1px;
    border-color: var(--primary-color);
    border-style: solid;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    background-color: #555;
    border-radius: 4px;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: var(--secondary-color);
    color: darkred;
}

/* Mobile menu toggle button */
#menu-toggle {
    display: none;
    background-color: #555;
    color: lightgreen;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: center;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Link styling */
a {
    color: var(--link-color); /* Orange */
}

a:visited {
    color: var(--link-color);
}

/* Button styling */ 
button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 1px;
    border-color: var(--primary-color);
}

button:hover {
    border-width: 1px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-style: solid;
    background-color: darkred;
}

button:active {
    background-color: red;
    color: var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid var(--primary-color);
}

th, td {
    padding: 10px;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery a {
    display: block;
    width: 150px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.language-switcher {
    list-style: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display items in a row */
    gap: 10px; /* Add some space between items */
    justify-content: center; /* Center items */

}

.language-switcher li {
    display: inline; /* Ensure list items are inline */
}

.language-switcher a {
    text-decoration: none; /* Remove underline from links */
    color: var(--primary-color); /* Set link color */
    padding: 5px 10px; /* Add some padding */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.language-switcher a:hover {
    background-color: #333; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

.current-language {
    background-color: #333; /* Set background color for current language */
    color: #fff; /* Set text color for current language */
    padding: 5px 10px; /* Add some padding */
    border-radius: 5px; /* Add rounded corners */
}

/* Responsive styles */
@media (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .admin-section {
        padding: 15px;
    }

    /* Navigation adjustments for mobile */
    #admin-nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #admin-nav.open {
        display: flex;
    }

    #menu-toggle {
        display: block;
    }

    nav ul li {
        margin: 10px 0;
    }

    /* Footer adjustments */
    footer {
        padding: 15px;
        font-size: 0.9rem;
    }
}