<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}UserPlugin{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/user.css">
</head>
<body>
    <header>
        {% block header %}
        {% if current_user %}
            <p>Welcome, {{ current_user.username }}! <a href="{{localize('/user/logout')}}">Logout</a></p>
        {% else %}
            <p><a href="{{localize('/user/login')}}">Login</a> | <a href="{{localize('/user/register')}}">Register</a></p>
        {% endif %}
        {% endblock %}
    </header>
    <main class="parent-container">
        <div class="form-container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
