<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}KrautCMS{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container"><h1 class="page-title"><a href="/">KrautCMS</a></h1></div>
            {% block header %}{% endblock %}
        </header>
        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer>
            {% block footer %}
            <p>&copy; {{ "now"|date("Y") }} KrautCMS</p>
            {% endblock %}
        </footer>
    </div>
</body>
</html>
