{% extends '@Theme/base.html.twig' %}

{% block title %}Home - KrautCMS{% endblock %}

{% block content %}
    <h2>Welcome to KrautCMS Home Page!</h2>
    <p>This is the home page.</p>
{% endblock %}
