{% extends '@Theme/base.html.twig' %}

{% block title %}Admin Panel - KrautCMS{% endblock %}

{% block content %}
    <h2>{{component_type}}: {{component_name}}</h2>
    <p>The {{component_type}} {{component_name}} has been successfully deactivated.</p>
{% endblock %}