{% extends '@AdminPanelPlugin/admin.base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block scripts %}
    <script src="/assets/js/plugin-settings.js" defer></script>           
{% endblock %}


{% block header %}
    <h2>{{component_type}} Settings: {{component_name}}</h2>
{% endblock %}

{% block content %}
    <button id="back" data-action="back">Back</button>
    <div id="settings-container">
        <p>Loading...</p>
    </div>
{% endblock %} 