{# User/Plugin/PagesPlugin/Templates/page.html.twig #}

{% extends '@Theme/base.html.twig' %}

{% block title %}{{ page.metadata.title }}{% endblock %}

{% block content %}
    {% if hasPermission(current_user, ['editor']) %}
        <p><a href="{{ localize(path('page_edit', {'slug': page.slug})) }}">Edit Page</a></p>
    {% endif %}
    <h1>{{ page.metadata.title }}</h1>
    <div>
        {{ contentHtml|raw }}
    </div>
{% endblock %}