{# User/Plugin/PagesPlugin/Templates/page.html.twig #}

{% extends '@Theme/base.html.twig' %}

{% block title %}{{ page.metadata.title }}{% endblock %}

{% block content %}
    {% if current_user is defined and current_user is not null and 'editor' in current_user.getRoles() or 'superuser' in current_user.getRoles() %}
        <p><a href="{{ path('page_edit', {'slug': page.slug}) }}">Edit Page</a></p>
    {% endif %}
    <h1>{{ page.metadata.title }}</h1>
    <div>
        {{ contentHtml|raw }}
    </div>
{% endblock %}