{# User/Plugin/PagesPlugin/Templates/page.html.twig #}

{% extends '@Theme/base.html.twig' %}

{% block title %}{{ page.metadata.title }}{% endblock %}

{% block content %}
    <h1>{{ page.metadata.title }}</h1>
    <div>
        {{ contentHtml|raw }}
    </div>
{% endblock %}